* {
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #202124;
  height: 100vh;
}

.navbar {
  background-color: #005986;
}

.navHome{
  font-size: 24px;
  font-weight: 100px;
  color: white;
}

.navHome:hover{
  color: #005986;
  background-color: white;
  }

.navLocation{
  font-size: 24px;
  font-weight: 100px;
  color: white;
}

.navLocation:hover{
  color: #005986;
  background-color: white;
  }

.navRecent{
  font-size: 24px;
  font-weight: 100px;
  color: white;
}
  
.navRecent:hover{
  color: #005986;
  background-color: white;
}

.navsearch {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.navsearch input{
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  padding-left: 32px;
  color: white;
}

.navsearch input::placeholder {
  font-weight: 500;
  color: rgba(255,255,255,0.4); 
}

.navsearch input:focus + label {
  color: white !important;
}

.navsearch input:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important
}

.cardContainerDiv{
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#searchForm {
 position: relative;
 width: 500px;
 height: 105px;
 background: white;
padding: 28px 32px;
overflow: hidden;
border-radius: 18px;
}

.searchSwtich {
  width: 150px;
}

.search {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.search input{
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  padding-left: 32px;
}

.search input::placeholder {
  font-weight: 500;
  color: dimgray;
  
}

.search input:focus + label {
  color: #005986 !important;
}

.search input:focus {
  border-bottom: 1px solid #005986 !important;
  box-shadow: 0 1px 0 0 #005986 !important
}

#searchButton {
  cursor: pointer;
  background-color: transparent;
  width: 50px;
  height: 42px;
  border-radius: 50%;
  transition: .4s ease;
}

#searchButton:hover{
  color: white;
  background-color: #005986;
} 

#searchButtonNav {
  cursor: pointer;
  background-color: transparent;
  color: white;
}

#searchButtonNav:hover{
  color: #005986;
  background-color: white;
}

#locationSymbol {
  width: 50px;
  font-size: 28px;
}

#unitsToggle {
  width: 32.25rem;
  height: 12.5rem;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 12.5rem;
  box-shadow: inset 0rem 0.313rem 0.938rem rgba(0,0,0,0.4), inset 0rem -0.313rem 0.938rem rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

#toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

.weatherContainerNight {
  position: relative;
  color:white;
 width: 500px;
 height: 800px;
 background:linear-gradient(#010621, #313A58);
padding: 28px 32px;
overflow: hidden;
border-radius: 18px;
text-align: center;
}

.weatherContainerDay {
position: relative;
color: white;
 width: 500px;
 height: 800px;
 background:linear-gradient(#1B84B1, #66A9CB);
padding: 28px 32px;
overflow: hidden;
border-radius: 18px;
text-align: center;
}

.homeButton {
  cursor: pointer;
}

.saveButton{
  color: white;
}

.saveButton:hover{
  color: green;
  cursor: pointer;
}

.weatherIcons {
  width: 60%;
  margin-top: 30px;
}

.locationHeader{
  position: relative;
  padding: 3%;
}

.temperature {
  position: relative;
  margin-top: -40px;
  font-size: 4rem;
  font-weight: 800;
  margin-left: 20px;
}

.daily {
  padding-bottom: 5%;
}

.hourlyWeatherContainter {
  border-top-width: 1px;
  border-top-color: rgba(255, 255, 255, .25);
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, .25);
  border-bottom-style: solid;
}

.dailyWeatherContainter{
  overflow-y: hidden;
  width: 450px;
  height: 197px;
  padding-right: 5%;
  scrollbar-gutter: stable;
}

.dailyWeather {
  border-top-color: rgba(255, 255, 255, .25);
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, .25);
  border-bottom-style: solid;
}

.dailyLow {
  color: white;
  opacity: 50%;
}

.dailyWeatherContainter::-webkit-scrollbar {
  width: 2px;

}

.dailyWeatherContainter::-webkit-scrollbar-track {
  background: transparent;

}

.dailyWeatherContainter::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .50);
    border-radius: 10px;
}

.dailyWeatherContainter:hover  {
  overflow-y:  scroll;
}

.savedLocationHeader{
  padding-left: 4%;
 text-decoration: underline;
}

.savedLocationsContainer{
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.savedLocationsDay {
  position: relative;
  color: white;
 width: 500px;
 height: 400px;
 margin: 20px;
 background:linear-gradient(#1B84B1, #66A9CB);
border-radius: 18px;
text-align: center;
padding-left: 20px;
}

.savedLocationsNight {
  position: relative;
  color:white;
 width: 500px;
 height: 400px;
 margin: 20px;
 background:linear-gradient(#010621, #313A58);
border-radius: 18px;
text-align: center;
padding-left: 20px;
} 


.removeButton{
  position: relative;
  padding: 2%;
 cursor: pointer;
}

.removeIcon{
  color: white;
}

.removeButton:hover .removeIcon{
  color: red;
}

.savedWeatherButton {
  position: relative;
  cursor: pointer;
  color: white;
}

.detailText{
  color: white;
}

.detailText:hover{
  border-bottom: 1px solid white;
}

.savedSearchesDay {
  color: white;
 width: 600px;
 height: 100px;
 margin: 20px;
 background:linear-gradient(#1B84B1, #66A9CB);
border-radius: 18px;
padding-left: 20px;
padding-right: 20px;
display: flex;
justify-content: space-between;
}

.savedSearchesNight {
  color:white;
 width: 600px;
 height: 100px;
 margin: 20px;
 background:linear-gradient(#010621, #313A58);
border-radius: 18px;
padding-left: 20px;
padding-right: 20px;
display: flex;
justify-content: space-between;
} 

.switch label input[type=checkbox]:checked+.lever:after {
 background-color: #66A9CB !important;
}
